@charset "UTF-8";
/* ===========================================
 *  フッター
 * ========================================== 
 */
.footer {
  background-color: #0E1346;
  position: relative;
}
.footer section .is-corporate {
  margin-bottom: 0 !important;
}
.footer section .is-corporate figcaption {
  font-size: 12px;
  text-align: end;
  margin-right: 10px;
  margin-bottom: 3px;
  color: white;
  text-decoration: none !important;
  font-size: 16px;
  padding-bottom: 6px;
}
.footer section .is-corporate figcaption a {
  color: white;
  text-decoration: none !important;
}
.footer section .is-corporate img {
  width: 300px;
  height: auto;
  max-width: 100%;
}
.footer .footer-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer .footer-upper-inner {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1068px;
  width: 100%;
  margin: 0 5%;
}
.footer .footer-upper-inner ul li a {
  color: white;
  text-decoration: none !important;
}
.footer .footer-upper-inner ul {
  padding-left: 0 !important;
}
.footer .footer-upper-inner .ttl_l {
  font-size: 20px;
}
.footer .footer-upper-inner .ttl_m {
  font-size: 16px;
}
.footer .footer-upper-inner .is-row {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.footer .footer-upper-inner .is-row .nav-wrapper {
  margin-bottom: 0 !important;
}
.footer .footer-upper-inner .is-row .nav-wrapper li:first-child {
  padding-bottom: 18px !important;
  font-weight: bold;
}
.footer .footer-upper-inner .is-row .nav-wrapper li + li {
  padding-bottom: 15px !important;
}
.footer .footer-bottom {
  background-color: white;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .footer-bottom .is-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .footer-bottom .is-row figure {
  margin: 0 !important;
}
.footer .footer-bottom .is-row .is-footerlogo {
  height: 40px;
  width: auto;
}
.footer .footer-bottom .is-row .sns_logo {
  max-height: 26px;
  width: auto;
}
.footer .footer-bottom .is-copy {
  font-size: 14px;
}
.footer .footer-bottom-inner {
  width: 1100px;
  margin: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer #pageTop {
  z-index: 500;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 93px;
  right: 20px;
}

@media (max-width: 864px) {
  .footer .footer-upper-inner {
    flex-direction: column;
  }
  .footer section .is-corporate {
    margin: 0 auto;
  }
  .footer section .is-corporate figcaption {
    text-align: center;
    margin-right: 0px;
  }
  .footer .footer-bottom-inner {
    flex-direction: column;
  }
}
@media (max-width: 536px) {
  .footer .footer-upper-inner .is-row {
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
  }
  .footer section .is-corporate figcaption {
    text-align: center;
    margin-right: 0px;
  }
  .footer .footer-bottom .is-row {
    flex-direction: column-reverse;
    padding-bottom: 0.3rem;
  }
  .footer .footer-bottom-inner {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
/* ===========================================
 *  ヘッダー
 * ===========================================
 */
.header {
  background: red;
  height: 104px;
  position: relative;
}
.header .modal.show .modal-dialog {
  top: 50%;
  transform: translate(0, -50%) !important;
}
.header .modal .modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  text-align: center;
  width: 100%;
  transform: translateX(15.5px);
  color: #29318a;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 21px;
}
.header .modal .modal-header {
  padding-top: 40px !important;
}
.header .modal .form-label {
  margin-bottom: 20px !important;
}
.header .modal .form-check-input {
  margin-bottom: 20px;
}
.header .modal .mb-3 {
  margin-bottom: 20px !important;
}
.header .modal .modal-login button.btn {
  background-color: #29318a;
  color: white;
  width: 62% !important;
  height: 60px !important;
  font-size: 14px;
  border-radius: 99px !important;
  margin-top: 30px !important;
  margin-bottom: 40px !important;
  align-items: center;
  margin-right: 19% !important;
  margin-left: 19% !important;
}
.header .btn {
  background-color: #29318a;
  color: white;
  border-radius: 0px !important;
  margin: 0 !important;
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}
.header .btn a {
  color: white;
  text-decoration: none !important;
  font-size: 14px;
}
.header .btn-login {
  position: fixed;
  z-index: 9000;
}
.header .top-ttl {
  padding-left: 32px;
  color: #29318a;
  font-size: clamp(16px, 2vw, 25px);
}
.header .btn:hover {
  opacity: 0.8;
}
.header h1 {
  color: #29318a;
}
.header .btn + .btn {
  margin-left: 1px !important;
}
.header .navbar-toggler {
  margin-right: 3%;
  z-index: 6000;
}
.header .navbar-collapse {
  justify-content: flex-end !important;
}
.header .container-fluid {
  padding-right: 0 !important;
  padding-left: 3%;
}
.header .container-fluid h1 {
  margin-bottom: 0px !important;
  z-index: 6000;
}
.header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}
.header .nav-link {
  font-size: 20px;
}
.header .nav-link:hover {
  color: #29318a;
}
.header .nav-only-cta {
  padding-left: 0px !important;
}
.header .nav-only-cta li {
  background-color: #29318a;
  width: 100%;
  border-radius: 2px;
}
.header .nav-only-cta li img {
  margin-right: 10px;
}
.header .nav-only-cta li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}
.header .nav-only-cta li:hover {
  opacity: 0.8;
}
.header .nav-only-cta li + li {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .header .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    padding: 8rem 2rem 6rem;
    background-color: white;
    z-index: 5000;
    overflow: auto;
  }
  .header .navbar.is-open {
    display: block;
    position: fixed;
    width: 100%;
  }
  .header body.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}
@media (max-width: 538px) {
  .header .top-ttl {
    padding-left: 10px;
  }
  .header .navbar-brand img {
    width: auto;
    height: 31px;
  }
}
@media (max-width: 394px) {
  .header .top-ttl {
    padding-left: 8px;
    font-size: 12px;
  }
  .header .navbar-brand img {
    width: auto;
    height: 21px;
  }
}
@media (max-width: 394px) {
  .header .navbar-brand img {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    height: 100%;
  }
}
.login-modal {
  z-index: 9000;
}

.modal-backdrop {
  --bs-backdrop-zindex: 8000 !important;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.7 !important;
}

.l-breadcrumb {
  height: auto;
  width: 100%;
  background-color: rgb(194, 194, 194);
}
.l-breadcrumb .breadcrumb {
  padding-top: 8px;
  margin-bottom: 0px !important;
}

.carousel-item img {
  min-height: 120px;
}

.hero-carousel {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  width: 100%;
}
.hero-carousel p {
  margin-bottom: 0 !important;
  font-size: clamp(13px, 3vw, 24px);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 5px rgb(0, 0, 0);
  letter-spacing: 0.2rem;
  line-height: 1.7;
}

.l-news-latest {
  height: auto;
  margin: 65px 5% 90px 5%;
}
.l-news-latest-wrapper {
  margin: 0 auto;
  padding: 45px auto;
  height: 100%;
  max-width: 800px;
}
.l-news-latest-wrapper h2 {
  text-align: left;
  margin: 0 auto;
  color: #0e1346;
  font-size: 25px;
  letter-spacing: 0.1rem;
}
.l-news-latest-wrapper ul {
  padding-left: 0rem !important;
  padding-top: 24px;
  margin-bottom: 40px !important;
}
.l-news-latest-wrapper li {
  gap: 2rem;
  display: flex;
  align-items: center;
}
.l-news-latest-wrapper li p {
  margin-bottom: 0 !important;
  font-size: 14px;
}
.l-news-latest-wrapper li p a {
  color: #333;
  text-decoration: none;
}
.l-news-latest-wrapper li date {
  font-size: 11px;
  color: #7A7D9A;
  width: 60px;
}
.l-news-latest-wrapper li .item-category {
  font-size: 11px;
  padding: 3px 0;
  min-width: 120px;
  max-width: 120px;
  background-color: #F1F1F1;
  text-align: center;
  color: #29318A;
  line-height: 26px;
  letter-spacing: 0.1rem;
}
.l-news-latest-wrapper li .item-category a {
  color: #333;
  font-size: 14px;
  text-decoration: none !important;
  letter-spacing: 0.1rem;
}
.l-news-latest-wrapper li .new-badge::before {
  content: "NEW";
  display: inline-block;
  color: white;
  background-color: rgb(252, 177, 17);
  width: 80px;
  text-align: center;
  border-radius: 90px;
}
.l-news-latest-wrapper li:last-child {
  margin-bottom: 0;
}
.l-news-latest-wrapper li + li {
  padding-top: 20px;
}
.l-news-latest button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.l-pagebanner {
  max-width: calc(800px + 10%);
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.l-pagebanner-inner {
  max-width: 100%;
  height: auto;
  margin: 60px auto auto;
  display: grid;
}
.l-pagebanner-inner a {
  text-decoration: none !important;
  color: #0e1346;
}
.l-pagebanner-inner .grid-item {
  text-align: start;
}
.l-pagebanner-inner .grid-item .is-row {
  padding-top: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.l-pagebanner-inner .grid-item .is-row figcaption h2 {
  font-size: clamp(16px, 4vw, 25px);
  margin-bottom: 0 !important;
  font-weight: bold;
}
.l-pagebanner-inner .img-wide {
  max-width: 800px;
  max-height: 200px;
  height: auto;
}
.l-pagebanner-inner .img-tight {
  max-width: 370px;
  max-height: 200px;
  height: auto;
}
.l-pagebanner .grid-container {
  grid-template-columns: 1fr;
}
.l-pagebanner .grid-container img {
  max-width: 100%;
}
.l-pagebanner .grid-container2 {
  grid-template-columns: 1fr 1fr;
  gap: 65px;
}
.l-pagebanner .grid-container2 .is-figspan {
  font-size: 12px;
}
.l-pagebanner .grid-container2 img {
  max-width: 100%;
}
.l-pagebanner h2.section-ttl {
  font-size: clamp(20px, 4vw, 33px);
  text-align: center;
  position: relative;
  color: #0e1346;
  font-weight: bold;
}
.l-pagebanner h2.section-ttl::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  border-bottom: 2px solid #0e1346;
}

section.for-all {
  background-color: #D8DBE5;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding-top: 65px;
  padding-bottom: 65px;
}
section.for-all figcaption h3 {
  font-size: clamp(16px, 4vw, 25px);
  margin-bottom: 0 !important;
  font-weight: bold;
}
section.for-all .l-pagebanner-inner {
  max-width: 800px;
}
section.for-all .banner-white {
  position: relative;
}
section.for-all .banner-white .is-background {
  width: 370px;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
}
section.for-all .banner-white .is-fronticon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  max-width: 90%;
  max-height: 119px;
  height: auto;
}
section.for-all .grid-item p {
  font-size: clamp(14px, 4vw, 17px);
  margin-bottom: 0 !important;
  color: #333;
  letter-spacing: 0.08rem;
  line-height: 1.7;
}

@media (max-width: 538px) {
  .l-news-latest-wrapper li {
    gap: 0.5rem;
  }
  .l-pagebanner-inner .grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .l-pagebanner .grid-container2 {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
@media (max-width: 605px) {
  .hero-carousel .sp-605 {
    display: block !important;
  }
}
.main {
  margin-top: 0px;
}

@media (max-width: 991px) {
  .main {
    margin-top: 45px;
  }
}
@media (max-width: 538px) {
  .main {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .sp-article-wrapper {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.5rem !important;
  }
  .sp-article {
    display: flex;
    align-items: center;
  }
  .sp-article date {
    margin-right: 1rem;
  }
  .l-article .item-category {
    font-size: 14px !important;
  }
  .l-article date {
    font-size: 14px !important;
  }
  l-article ul li + li {
    padding-top: 0px !important;
  }
}
.l-titleview {
  height: 200px;
  width: 100%;
  position: relative;
}
.l-titleview img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}
.l-titleview-ttl {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 3rem;
  color: #232323;
  padding-right: 3rem;
}
.l-titleview-ttl p {
  margin-bottom: 0 !important;
  font-size: clamp(16px, 5vw, 35px);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 2px 2px 5px rgb(0, 0, 0);
  letter-spacing: 0.2rem;
  line-height: 1.7;
  color: white;
}

.single-wrapper {
  margin-top: 50px !important;
}

.aside-area {
  padding-right: 0px !important;
}

.l-category-tab {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 70px auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(1000px + 2rem);
  padding-right: 1rem;
  padding-left: 1rem;
}
.l-category-tab button {
  background-color: #f1f1f1;
  color: #29318a;
  border: none;
  padding: 3px;
  min-width: 178px;
  max-width: 178px;
  height: 56px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-category-tab button a {
  text-decoration: none;
  color: #29318a;
}
.l-category-tab button:hover {
  opacity: 0.8;
}
.l-category-tab .is-current {
  background-color: #29318a;
}
.l-category-tab .is-current a {
  color: white;
}

.article-single-wrapper {
  padding-right: 2rem;
  padding-top: 2rem;
}
.article-single-wrapper h2 {
  font-size: clamp(16px, 2vw, 23px) !important;
}
.article-single-wrapper .date-category-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 17px;
}
.article-single-wrapper .date-category-wrapper .item-category {
  margin-left: 8px;
}

.l-article hr {
  margin: 2rem 0 !important;
}
.l-article article date {
  font-size: 11px;
  color: #7A7D9A;
}
.l-article article img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.l-article article .item-category {
  font-size: 11px;
  padding: 3px 0;
  min-width: 120px;
  max-width: 120px;
  background-color: #F1F1F1;
  text-align: center;
  color: #29318A;
  line-height: 26px;
  letter-spacing: 0.1rem;
}
.l-article article a {
  color: #333;
  text-decoration: none;
}
.l-article article p {
  margin-bottom: 0px !important;
  line-height: 1.7rem;
  letter-spacing: 0.12rem;
}
.l-article ul {
  padding: 2rem 2rem 2rem 0px;
  margin-bottom: 100px;
}
.l-article ul .article-top-hr {
  margin-top: 0px !important;
  padding-bottom: 33px;
  margin-bottom: 0px !important;
}
.l-article ul li {
  gap: 2rem;
  display: flex;
  align-items: center;
}
.l-article ul li date {
  font-size: 11px;
  color: #7A7D9A;
  width: 60px;
}
.l-article ul li .item-category {
  font-size: 11px;
  padding: 3px 0;
  min-width: 120px;
  max-width: 120px;
  background-color: #F1F1F1;
  text-align: center;
  color: #29318A;
  line-height: 26px;
  letter-spacing: 0.1rem;
}
.l-article ul li a {
  color: #333;
  text-decoration: none;
}
.l-article ul li p {
  margin-bottom: 0px !important;
}
.l-article ul li + li {
  padding-top: 33px;
}
.l-article .pagination {
  width: 100% !important;
  padding: 1rem !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.l-article .pagination .page-numbers {
  color: #29318A !important;
  background-color: #F1F1F1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin: 0 4px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}
.l-article .pagination .page-numbers.current {
  color: white !important;
  background-color: #29318A;
  text-decoration: none;
}
.l-article .pagination .page-numbers:hover {
  opacity: 0.8;
}
.l-article .sp-article {
  display: contents;
}

.l-page-caption {
  font-size: clamp(16px, 3vw, 25px);
  color: #29318A;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.l-side-grid {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  max-width: 1000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.archive-label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 3px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #29318a;
  justify-content: center;
  align-items: center;
}

.archive-wrapper {
  padding-top: 25px;
  padding-left: 0px;
  letter-spacing: 0.15rem;
  line-height: 2.3;
}
.archive-wrapper li a {
  color: #333;
  text-decoration: none;
  font-size: clamp(12px, 3vw, 16px);
}
.archive-wrapper li a:hover {
  color: #29318a;
}

.aside-area {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 12px;
}

@media (max-width: 800px) {
  .l-side-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .l-article ul {
    padding-left: 2rem;
  }
}
@media (max-width: 600px) {
  .sp-article-wrapper {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0.5rem !important;
  }
  .sp-article {
    display: flex;
    align-items: center;
  }
  .sp-article date {
    margin-right: 1rem;
  }
  .l-article .item-category {
    font-size: 14px !important;
  }
  .l-article date {
    font-size: 14px !important;
  }
  l-article ul li + li {
    padding-top: 0px !important;
  }
}
.l-about {
  max-width: 800px;
  padding: 2rem;
  margin: 0 auto;
}

li, ol, ul {
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

hr {
  opacity: 0.17;
}

.add-icon {
  border-radius: 60px;
  background-color: #F5F5F5;
  display: flex;
  font-size: 14px;
  width: 216px;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding-left: 25px;
}
.add-icon a {
  color: #0E1346;
  text-decoration: none !important;
}

.add-icon::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 0.5em;
  background-image: url("../../images/common/icon_right_bgblue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.add-icon:hover {
  opacity: 0.8;
  background-color: #f5f5f5;
}

button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */